<!DOCTYPE html>
<html>
    <head>
    
      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    

    <nav id="nav-bar">

    <p id="p1"><a href="/" >Morty's Mind Bloggers</a></p>
      <input type="text" placeholder="Search" id="search-bar"><button id="search-btn">Search</button>
    
    <div class="dropdown">
      <button class="dropbtn">New To Rick & Morty? 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/views/about">About</a>
        <a href="/views/characters">Characters</a>
        <a href="/views/settings"> settings</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Episode Guide
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/episodes/">Episodes</a>
        
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Comments
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/comments/">comment</a>
        
      </div>
    </div>
    <button id="login">
    <% if (user) { %>
      <a href="/logout" class="links"><i class="material-icons"></i>Log Out</a>
      <% } else { %>
        <a href="/auth/google"class="links"><i class="material-icons"></i>Login/Sign Up</a>
        <% } %>
        <div id="acct-img"
        <i class="material-icons">
            account_circle
            </i>
        </div>
    </button>
  </nav>
  

    </body>
</html>
