<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/comments/<%= comment._id %>/edit?_method=PUT" method="POST">
    <input type="text" name="caption" value="<%= comment.caption %>">
    <input type="text" name="content" value="<%= comment.content %>">
    <button type="submit">submit</button>

    </form>
</body>
</html>